/* ------------------------- */
/* COLOR CODES:              */
/*                           */
/* #EC1F27	DSA Red          */
/* #F04C53	DSA Red Tint 1   */
/* #F4797E	DSA Red Tint 2   */
/* #F7A5A9	DSA Red Tint 3   */
/* #FBD2D4	DSA Red Tint 4   */
/*                           */
/* #231F20	DSA Black        */
/* #3B3838	DSA Black Tint 1 */
/* #605C5C	DSA Black Tint 2 */
/* #8C8989	DSA Black Tint 3 */
/* #C1C0BF	DSA Black Tint 4 */
/* ------------------------- */

html, body { height: 100%; width: 100%; margin: 0; }
* { box-sizing: border-box; }

body {
	font-family: serif;
	text-align: center;
	color: #231F20;
}
h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}
a:focus {
	outline: 2px solid;
}

/* SCROLL-SNAP */
html {
	scroll-snap-type: y proximity;
	scroll-padding-top: 4vh;
}
header,
footer,
article {
	scroll-snap-align: start;
}

/* HEADER & CALL TO ACTIONS */
header {
	background: #EC1F27;
	color: #fff;
	padding: 5rem 0 4rem;
}
header>* {
	max-width: 90vw;
	margin-left: auto;
	margin-right: auto;
}
.call-to-actions {
	width: 40rem;
	margin: 2.75rem auto 0;
	text-align: right;
}
.call-to-actions .btn {
	display: inline-block;
	padding: .65em 1em .75em;
	border-radius: .65em;
	text-decoration: none;
	font-family: sans-serif;
	color: #fff;
}
.call-to-actions .btn:link,
.call-to-actions .btn:visited {
	background: #3B3838;
}
.call-to-actions .btn:hover {
	background: #605C5C;
}
.call-to-actions .btn:focus {
	outline: 2px solid #fff;
}
.call-to-actions .btn:active {
	background: #231F20;
}

/* FOOTER */
footer {
	background: #231F20;
	color: #fff;
	padding: 2rem;
}
body::after {
	display: flex;
	flex-flow: column;
	height: 40rem;
	max-height: 100vh;
	box-sizing: border-box;
	background-size: cover;
	background-position: center;
	background-color: #231F20;
	background-image: url("img/michigan-flyover-space.jpg");
	/* image source: International Space Stations, Jan 30, 2012
	 * https://www.youtube.com/watch?v=HbBZRj_EkvI
	 */
	content: "Image source: International Space Stations, Jan 30, 2012";
	color: #fff;
	text-shadow: 0.2em 0.2em #231F20,
	             0 0 1em #231F20,
	             0 0 2em #231F20;
	font-family: sans-serif;
	font-weight: bold;
	font-size: small;
	text-align: right;
	place-content: end;
	padding: 1.5rem 2rem;
}

/* CHAPTER CARDS */
.card-container {
	margin: 3rem 6rem 6rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	gap: 6rem;
	justify-content: center;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.chapter-logo {
	aspect-ratio: 1 / 1;
	max-height: 70vh;
	max-width: 80%;
	margin: auto;
}
.chapter-logo a {
	display: block;
	height: 100%;
	width: 100%;
	display: grid;
	place-content: start center;
	place-items: center;
}
.chapter-logo img {
	max-height: 100%;
	max-width: 100%;
}

/* SOC MEDIA ICONS */
.soc-media-links {
	display: flex;
	-ms-flex: 1; /* IE 10 */
	justify-content: center;
	gap: .8em;
}

.icon {
	text-indent: -999rem;
	display: inline-block;
	height: 3em;
	width: 3em;
	overflow: hidden;
	background-size: cover;
	filter: saturate(0);
}
.icon:hover {
	filter: saturate(1);
}
a:active img,
.icon:active {
	filter: brightness(0.8);
}

.icon.calendar {
	background-image: url("img/icon-calendar.svg");
}
.icon.contact {
	background-image: url("img/icon-contact.svg");
}
.icon.facebook {
	background-image: url("img/icon-facebook.svg");
}
.icon.instagram {
	background-image: url("img/icon-instagram.svg");
}
.icon.twitter {
	background-image: url("img/icon-twitter.svg");
}
