html, body { height: 100%; width: 100%; margin: 0; }
* { box-sizing: border-box; }

body {
	text-align: center;
	color: #231F20;
}
h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

header {
	background: #EC1F27;
	color: #fff;
	padding: 5rem;
}

footer {
	background: #231F20;
	color: #fff;
	padding: 2rem;
}
body::after {
	content: "";
	display: block;
	height: 40rem;
	max-height: 100vh;
	background-size: cover;
	background-position: center;
	background-image: url("img/michigan-flyover-space.jpg");
	/* image source: International Space Stations, Jan 30, 2012
	 * https://www.youtube.com/watch?v=HbBZRj_EkvI
	 */
}


.card-container {
	margin: 3rem auto 6rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
	column-gap: 1rem;
	row-gap: 6rem;
	justify-content: center;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.chapter-logo {
	aspect-ratio: 1 / 1;
	width: 80%;
	margin: auto;
}
.chapter-logo a {
	display: block;
	height: 100%;
	width: 100%;
	display: grid;
	place-content: start center;
	place-items: center;
}
.chapter-logo img {
	max-height: 100%;
	max-width: 100%;
}



/* SOC MEDIA ICONS */
.soc-media-links {
	display: flex;
	-ms-flex: 1; /* IE 10 */
	justify-content: center;
	gap: .8em;
}

.icon {
	text-indent: -999rem;
	display: inline-block;
	height: 3em;
	width: 3em;
	background-size: cover;
	filter: saturate(0);
}
.icon:hover {
	filter: saturate(1);
}
a:active img,
.icon:active {
	filter: brightness(0.8);
}

.icon.calendar {
	background-image: url("img/icon-calendar.svg");
}
.icon.contact {
	background-image: url("img/icon-contact.svg");
}
.icon.facebook {
	background-image: url("img/icon-facebook.svg");
}
.icon.instagram {
	background-image: url("img/icon-instagram.svg");
}
.icon.twitter {
	background-image: url("img/icon-twitter.svg");
}
